

.highlight-image {
display: block;
width: 100%;
height: auto;
transition: transform 0.3s ease-in-out;
border-radius: 75px;
}

.image-container:hover .highlight-image {
transform: scale(1.1);
}

.image-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image-overlay {
opacity: 1;
}

.copyleft {
	display:inline-block;
	transform: rotate(180deg);
	font-size: large;
  }
  